[package]
name = "tuirealm"
version = "3.2.0"
authors = ["Christian Visintin <christian.visintin@veeso.dev>"]
edition = "2024"
rust-version = "1.85.1"
categories = ["command-line-utilities"]
description = "A tui-rs framework to build tui interfaces, inspired by React and Elm."
documentation = "https://docs.rs/tuirealm"
homepage = "https://github.com/veeso/tui-realm"
include = ["examples/**/*", "src/**/*", "LICENSE", "README.md", "CHANGELOG.md"]
keywords = ["tui", "terminal"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/veeso/tui-realm"

[dependencies]
async-trait = { version = "0.1", optional = true }
bitflags = "2"
crossterm = { version = "0.29", optional = true }
lazy-regex = "3"
ratatui = { version = "0.29", default-features = false }
serde = { version = "1", features = ["derive"], optional = true }
termion = { version = "^4", optional = true }
thiserror = "2"
tokio = { version = "1", features = [
  "rt",
  "macros",
  "time",
], default-features = false, optional = true }
tokio-util = { version = "0.7", features = [
  "rt",
], default-features = false, optional = true }
futures-util = { version = "0.3", default-features = false, optional = true }
tuirealm_derive = { version = "2", optional = true }
dyn-clone = "1.0"

[dev-dependencies]
pretty_assertions = "^1"
toml = "^0.9"
tempfile = "^3"
tokio = { version = "1", features = ["full"] }

[features]
default = ["derive", "crossterm"]
async-ports = [
  "dep:async-trait",
  "dep:tokio",
  "dep:tokio-util",
  "crossterm?/event-stream",
  "dep:futures-util",
]
derive = ["dep:tuirealm_derive"]
serialize = ["dep:serde", "bitflags/serde"]
crossterm = ["dep:crossterm", "ratatui/crossterm"]
termion = ["dep:termion", "ratatui/termion"]

[[example]]
name = "async-ports"
path = "examples/async_ports.rs"
required-features = ["async-ports", "crossterm"]

[[example]]
name = "demo"
path = "examples/demo/demo.rs"
required-features = ["crossterm"]

[[example]]
name = "user-events"
path = "examples/user_events/user_events.rs"
required-features = ["crossterm"]

[[example]]
name = "arbitrary-data"
path = "examples/arbitrary_data.rs"
required-features = ["crossterm"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
