[package]
name = "tuirealm"
version = "1.0.0"
authors = ["Christian Visintin"]
edition = "2018"
categories = ["command-line-utilities"]
description = "A tui-rs framework to build tui interfaces, inspired by React and Elm."
documentation = "https://docs.rs/tuirealm"
homepage = "https://github.com/veeso/tui-realm"
include = ["src/**/*", "LICENSE", "README.md", "CHANGELOG.md"]
keywords = ["tui", "terminal"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/veeso/tui-realm"

[dependencies]
bitflags = "^1.0.0"
crossterm = { version = "0.20", optional = true }
lazy_static = "^1.0.0"
regex = "^1.0.0"
termion = { version = "1.5", optional = true }
thiserror = "^1.0.0"
tui = { version = "0.16.0", default-features = false }
#tuirealm_derive = { version = "^1.0.0", optional = true }
tuirealm_derive = { git = "https://github.com/veeso/tuirealm_derive", optional = true }

[dev-dependencies]
pretty_assertions = "0.7.2"

[features]
default = [ "derive", "with-crossterm" ]
derive = [ "tuirealm_derive" ]
with-crossterm = [ "crossterm", "tui/crossterm" ]
with-termion = [ "termion", "tui/termion" ]

[[example]]
name = "demo"
path = "examples/demo.rs"
