name: Tests

on: [ push, pull_request ]

env:
  CARGO_TERM_COLOR: always

jobs:
  # Check rustfmt
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: nightly
          components: rustfmt
      - run: cargo fmt --all -- --check

  # Check clippy.
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Clippy all features
        run: cargo clippy --all-targets --features std,async-ports,derive,serialize,termion,termwiz  -- -Dwarnings
      - name: Clippy all features (nostd)
        run: cargo clippy --no-default-features --features alloc  -- -Dwarnings
      - name: Clippy default features
        run: cargo clippy --all-targets -- -Dwarnings

  # Build examples, ensuring they compile
  # This is for all targets, so no need to run it in each
  build-examples:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
      - uses: Swatinem/rust-cache@v2
      - name: Examples
        run: cargo build --all-targets --examples

  test-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [ stable, "1.86" ]
    steps:
      - uses: actions/checkout@v2
      - name: Install Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Cargo Check
        run: cargo build --features async-ports,serialize,derive,termion,termwiz,crossterm
      - name: Test
        # This tests both crossterm, termion and termwiz
        run: cargo llvm-cov --no-fail-fast --features async-ports,serialize,derive,termion,termwiz,crossterm --workspace --lcov --output-path lcov.info --no-cfg-coverage
      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: lcov.info
          flag-name: ${{ github.job }}-${{ join(matrix.*, '-') }}
          parallel: true

  test-win:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [ stable, "1.86" ]
    steps:
      - uses: actions/checkout@v2
      - name: Install Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Cargo Check
        run: cargo build --features async-ports,serialize
      - name: Test
        # This tests both crossterm and termwiz
        # Does NOT run termion, as that is is unix only
        run: cargo llvm-cov --no-fail-fast --features async-ports,serialize --workspace --lcov --output-path lcov.info --no-cfg-coverage
      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: lcov.info
          flag-name: ${{ github.job }}-${{ join(matrix.*, '-') }}
          parallel: true

  test-mac:
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        toolchain: [ stable, "1.86" ]
    steps:
      - uses: actions/checkout@v2
      - name: Install Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.toolchain }}
          components: llvm-tools-preview
      - uses: Swatinem/rust-cache@v2
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-llvm-cov
      - name: Cargo Check
        run: cargo build --features async-ports,serialize,derive,termion,termwiz,crossterm
      - name: Test
        # This tests both crossterm, termion and termwiz
        run: cargo llvm-cov --no-fail-fast --features async-ports,serialize,derive,termion,termwiz,crossterm --workspace --lcov --output-path lcov.info --no-cfg-coverage
      - name: Coveralls
        uses: coverallsapp/github-action@v2.3.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          file: lcov.info
          flag-name: ${{ github.job }}-${{ join(matrix.*, '-') }}
          parallel: true

  finish-coveralls:
    runs-on: ubuntu-latest
    needs: [ test-linux, test-win, test-mac ]
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
